@charset "UTF-8";
/* @font-face {
	font-family: 'RockStar';
	src: url('/fonts/RockStar-ExtraBold.eot');
	src: local('☺'), url('/fonts/RockStar-ExtraBold.woff') format('woff'), url('/fonts/RockStar-ExtraBold.ttf') format('truetype'), url('/fonts/RockStar-ExtraBold.svg') format('svg');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'RockStar';
	src: url('/fonts/RockStar-Regular.eot');
	src: local('☺'), url('/fonts/RockStar-Regular.woff') format('woff'), url('/fonts/RockStar-Regular.ttf') format('truetype'), url('/fonts/RockStar-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'RockStar';
	src: url('/fonts/RockStar-SemiBold.eot');
	src: local('☺'), url('/fonts/RockStar-SemiBold.woff') format('woff'), url('/fonts/RockStar-SemiBold.ttf') format('truetype'), url('/fonts/RockStar-SemiBold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
} */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -------------------------------------------------------------------------- */
/*                            //LINK STICKY footer                            */
/* -------------------------------------------------------------------------- */
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  flex: 0 0 auto;
}

.main-content {
  flex: 1 0 auto;
  overflow: hidden;
}

footer {
  flex: 0 0 auto;
}

/* -------------------------------------------------------------------------- */
/*                              //LINK CONTAINER                              */
/* -------------------------------------------------------------------------- */
.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px 0 15px;
}

/* -------------------------------------------------------------------------- */
/*                               //LINK GLOBALS                               */
/* -------------------------------------------------------------------------- */
html,
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: var(--text-color-dark);
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.section__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 42px;
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 15px;
}
.section__subtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 30px;
  text-align: center;
  text-align: center;
  color: #C0C0C0;
  display: block;
  margin: 0 auto;
  padding-bottom: 40px;
}

/* ------------------------------ //LINK STYLES ----------------------------- */
/* ------------------------------ //LINK HEADER ----------------------------- */
.header {
  height: 90px;
  background-color: #000;
}
.header__wrapper {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  flex: 0 0 15%;
}
.header .logo img {
  width: 50px;
  display: block;
  margin: 0 auto;
}
.header .nav {
  flex: 0 0 45%;
}
.header .nav__list,
.header .nav .nav__list li {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}
.header .nav__item,
.header .nav .nav__list li {
  display: block;
  margin-left: 25px;
}
.header .nav__link,
.header .nav .nav__list a {
  color: #fff;
  transition: all 0.3s ease;
}
.header .nav__link:hover,
.header .nav .nav__list a:hover {
  opacity: 0.7;
}

/* ------------------------------- //LINK HERO ------------------------------ */
.hero .swiper {
  width: 100vw;
  height: 100%;
  position: relative;
}
.hero .swiper:before {
  content: "";
  position: absolute;
  background: linear-gradient(360deg, #000000 18.78%, rgba(0, 0, 0, 0) 98.53%);
  border-radius: 0px;
  height: calc(100vh - 90px);
  width: 100vw;
  z-index: 2;
}
.hero .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .swiper-slide img {
  display: block;
  width: 100vw;
  height: calc(100vh - 90px);
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__main-text {
  position: absolute;
  z-index: 3;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  color: #fff;
}
.hero__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 59px;
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 18px;
}
.hero__descr {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #C0C0C0;
  padding: 5px;
}

/* ---------------------------- //LINK HERO SMALL --------------------------- */
.hero_small {
  padding: 50px 0;
  min-height: 300px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
  /*   z-index: -1; */
}
.hero_small::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  left: 0;
  top: 0;
}

.particles-js-canvas-el {
  position: absolute;
  top: 0;
  left: 0;
}

.page_title {
  position: relative;
  z-index: 3;
  font-size: 40px;
  color: #FFF;
  padding: 15px 15px;
  max-width: 450px;
  line-height: 120%;
  display: block;
  margin: 0 auto;
}

.page_subtitle {
  position: relative;
  z-index: 3;
  padding: 15px 15px;
  /* max-width: 450px; */
  line-height: 120%;
  display: block;
  margin: 0 auto;
}

/* ------------------------------ //LINK SINGLE ----------------------------- */
.single_content {
  padding: 100px 0;
  background: #000;
}

/* ------------------------------ //LINK ABOUT ------------------------------ */
.about__page-img {
  max-height: 500px;
}
.about__page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.about__page-title {
  color: #fff;
  font-size: 30px;
  padding-bottom: 15px;
  text-align: center;
}
.about__page-subtitle, .about__page-address, .about__page-phone a {
  color: #fff;
  font-size: 30px;
  display: block;
  padding-bottom: 15px;
  text-align: center;
}

.form-block {
  margin-top: 35px;
}
.form-block .form_line {
  display: block;
  font-size: 30px;
  padding: 25px;
}
.form-block form {
  max-width: 500px;
  display: block;
  margin: 0 auto;
}
.form-block input,
.form-block textarea {
  background: rgba(0, 0, 0, 0.3);
  border-color: rgb(255, 255, 255);
}
.form-block .btn-form {
  background: #c93df8;
  border: none;
  display: block;
  margin: 0 auto;
  text-align: center;
}

/* ------------------------------ //LINK INTRO ------------------------------ */
.intro {
  background: #000;
  color: #fff;
  padding: 100px 0;
}
.intro__card {
  position: relative;
}
.intro__card:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}
.intro__card:hover img {
  opacity: 0.7;
}
.intro__card img {
  transition: all 0.3s ease;
  display: block;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 400px;
  width: 100%;
}
.intro .card__info {
  position: absolute;
  width: 90%;
  bottom: 50px;
  left: 30px;
  z-index: 3;
}
.intro .card__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-bottom: 10px;
}
.intro .card__descr {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #C0C0C0;
  padding-bottom: 17px;
}
.intro .card__permalink {
  position: relative;
  display: inline-block;
  padding: 10px 10px 10px 42px;
  background: #fff;
  border-radius: 10px;
  color: #000;
  transition: all 0.3s ease;
}
.intro .card__permalink:before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background: #000;
  left: 5px;
  border-radius: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.intro .card__permalink:hover {
  background-color: #c93df8;
  opacity: 1;
}

/* ------------------------------- //LINK BLOG ------------------------------ */
.blog_content {
  background: #000;
  color: #fff;
  padding: 100px 0 300px;
}
.blog_content .intro__card {
  position: relative;
}
.blog_content .intro__card:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}
.blog_content .intro__card:hover img {
  opacity: 0.7;
}
.blog_content .intro__card img {
  transition: all 0.3s ease;
  display: block;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  height: 300px;
  width: 100%;
}
.blog_content .card__info {
  position: absolute;
  width: 90%;
  bottom: 20px;
  left: 20px;
  z-index: 3;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
}
.blog_content .card__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-bottom: 10px;
}
.blog_content .card__descr {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #C0C0C0;
  padding-bottom: 17px;
}
.blog_content .card__permalink {
  position: relative;
  display: inline-block;
  padding: 10px 10px 10px 42px;
  background: #fff;
  border-radius: 10px;
  color: #000;
  transition: all 0.3s ease;
}
.blog_content .card__permalink:before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background: #000;
  left: 5px;
  border-radius: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.blog_content .card__permalink:hover {
  background-color: #c93df8;
  opacity: 1;
}

.card {
  transition: all 0.3s ease;
  background-color: #000;
}
.card:hover {
  /* background: #333333; */
  box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.57);
}
.card .intro__card__img {
  transition: all 0.3s ease;
  display: block;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  height: 215px;
  width: 100%;
}

.intro .card .intro__card__img {
  height: 320px;
}

/* ------------------------------ //LINK GAMES ------------------------------ */
.games_top__read {
  font-size: 20px;
  text-align: center;
}

.games {
  background: #000;
  padding: 100px 0 300px;
}
.games_top__block {
  display: flex;
  justify-content: center;
  align-items: center;
}
.games_top_text {
  max-width: 350px;
}
.games_top .game_image__top {
  max-height: 300px;
}
.games_line {
  padding-top: 35px;
}
.games_image {
  height: 192px;
}
.games_image:hover {
  filter: blur(10px);
}

.games__top_bg-image {
  max-width: 380px;
  height: 380px;
}

.games__items.active .game_image {
  filter: blur(2px);
}

.game_image {
  cursor: pointer;
  max-height: 192px;
  transition: all 0.3s ease;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.game_image.active {
  filter: blur(2px);
}
.game_image:hover {
  filter: blur(2px);
}
.game_text_single {
  position: absolute;
  visibility: hidden;
}

/* ----------------------- //LINK MAIN VIDEO PARALLAX ----------------------- */
.main_video {
  position: relative;
}
.main_video::before {
  content: "";
  position: absolute;
  background: linear-gradient(360deg, #000000 1.78%, rgba(0, 0, 0, 0) 178.53%);
  border-radius: 0px;
  height: 100%;
  width: 100vw;
  z-index: 2;
}

/* ----------------------------- //LINK ACCOUNT ----------------------------- */
.account {
  background: #000;
  padding: 200px 0 100px;
  min-height: 500px;
}
.account__title_link {
  color: #c93df8;
}
.account__title_link:hover {
  color: #c93df8;
  opacity: 0.7;
}
.account__inner {
  display: flex;
  justify-content: space-between;
}
.account__item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}
.account__item-text {
  max-width: 250px;
  color: #fff;
  text-align: center;
  padding: 25px 5px 10px;
  line-height: 140%;
}
.account__item-icon {
  max-width: 100px;
  width: 100%;
}

/* ----------------------------- //LINK COUNTER ----------------------------- */
.counter {
  background: #000;
  min-height: 500px;
  display: flex;
  align-items: center;
  position: relative;
}
.counter__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
  /* border-bottom: 2px solid #fff; */
}
.counter__inner span {
  color: #FFF;
  font-size: 100px;
  margin-right: 10%;
}
.counter .out-num {
  font-family: "Kaushan Script", cursive;
  font-size: 100px;
  /*  position: absolute; */
  color: #c93df8;
  text-align: center;
}
.counter .gradient-text {
  /* font-family: 'Rubik One', sans-serif;
  font-size: 100px;
  text-transform: uppercase;
  background: linear-gradient(90deg, #c93df8 11%, #FFF 34%, #c93df8 57%, #fff 81%, #c93df8 93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0B2349;
  display: table;
  margin: 20px auto; */
  font-family: "Rubik One", sans-serif;
  font-size: 100px;
  text-transform: uppercase;
  background: repeating-linear-gradient(white, white 2px, #7AB4E2 2px, #7AB4E2 3px);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #183D58;
  display: table;
  margin: 20px auto;
}

/* ------------------------------ //LINK FOOTER ----------------------------- */
.divider-left {
  width: 30px;
  height: 3px;
  color: #FFF;
  display: block;
  background: #FFF;
  position: absolute;
  top: 35%;
  left: -50px;
}
.divider-right {
  width: 30px;
  height: 3px;
  color: #FFF;
  display: block;
  background: #FFF;
  position: absolute;
  top: 35%;
  right: -50px;
}

.footer {
  background: #000;
  padding: 100px 0 50px;
  border-top: 1px solid #fff;
}
.footer__logo {
  padding-bottom: 35px;
  display: inline-block;
  position: relative;
}
.footer__logo-img {
  max-width: 100px;
}
.footer__text p {
  color: #fff;
  line-height: 135%;
}
.footer__title {
  font-size: 18px;
  font-weight: 700;
  color: #c93df8;
  padding-bottom: 20px;
  display: block;
}
.footer__menu-item,
.footer .footer__menu-list li {
  color: #fff;
  font-size: 16px;
  display: block;
}
.footer__menu-item a,
.footer__menu-item .footer__menu-list a,
.footer .footer__menu-list li a,
.footer .footer__menu-list li .footer__menu-list a {
  color: #fff !important;
  display: block;
  margin-bottom: 15px;
}
.footer__menu-item a:hover,
.footer__menu-item .footer__menu-list a:hover,
.footer .footer__menu-list li a:hover,
.footer .footer__menu-list li .footer__menu-list a:hover {
  opacity: 0.7;
}
.footer__menu-item + .footer__menu-item,
.footer__menu-item .footer__menu-list a + .footer__menu-list a,
.footer__menu-item + .footer .footer__menu-list li,
.footer .footer__menu-list li .footer__menu-list a + .footer__menu-list a,
.footer .footer__menu-list li + .footer__menu-item,
.footer .footer__menu-list li + .footer .footer__menu-list li {
  margin-top: 15px;
}
.footer__contact_city {
  color: #fff;
  display: block;
  margin-bottom: 15px;
}
.footer__contact_city a {
  color: #fff;
  display: block;
}

.footer__bottom {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 35px 0 0 0;
  color: #fff;
}

.footer .swiper-wrapper {
  transition-timing-function: linear !important;
}
.footer .swiper-slide img {
  max-width: 100%;
}

.footer strong {
  color: #c93df8;
}

.footer__brands {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.footer__brands .brand {
  padding: 15px;
  cursor: pointer;
}
.footer__brands .brand:hover {
  opacity: 0.7;
}
.footer__brands img {
  max-width: 80px;
}

.footer__terms_list ul {
  display: flex;
}
.footer__terms_list li {
  padding-left: 30px;
  position: relative;
}
.footer__terms_list li:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 3px;
  height: 18px;
  background-color: #FFF;
  left: 15px;
}
.footer__terms_list li a {
  color: #fff;
}
.footer__terms_list li a:hover {
  color: #c93df8;
}

/* -------------------------------------------------------------------------- */
/*                                //LINK 1199px                               */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                //LINK 1010px                               */
/* -------------------------------------------------------------------------- */
/* md-размер (<=1010px) */
/* -------------------------------------------------------------------------- */
/*                                //LINK 991px                               */
/* -------------------------------------------------------------------------- */
/* md-размер (<=991px) */
/* -------------------------------------------------------------------------- */
/*                                //LINK 767px                               */
/* -------------------------------------------------------------------------- */
/* sm-размер (<=768px) */
/* -------------------------------------------------------------------------- */
/*                                //LINK 575px                               */
/* -------------------------------------------------------------------------- */
/* xs-размер (<=575px) */
/* -------------------------------------------------------------------------- */
/*                                //LINK 470px                               */
/* -------------------------------------------------------------------------- */
/* xs-размер (<=470px) */
/* -------------------------------------------------------------------------- */
/*                                //LINK 380px                               */
/* -------------------------------------------------------------------------- */
/* xs-размер (<=470px) */
/* -------------------------------------------------------------------------- */
/*                                //LINK 330px                               */
/* -------------------------------------------------------------------------- */
/* xs-размер (<=470px) *//*# sourceMappingURL=style.css.map */